#menubar {
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 50;
    height: 20px;
    width: 100%;
}

#menubar button {
    background-color: transparent;
    border: none;
}

#stickiesAppDropDown {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    width: 100px;
    display: none;
    margin-left: 50px;
}

#stickiesAppDropDown button {
    width: 100px;
}

#appleLogoDropDown {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    width: 100px;
    display: none;
}

#appleLogoDropDown button {
    width: 100px;
}
